:root {
  /* Background and text colors */
  --body-background-color: #24273a; /* Base */
  --body-text-color: #f5bde6; /* Pink */
  
  /* Card background and borders */
  --card-background-color: #363a4f; /* Surface0 */
  --card-border-color: #7dc4e4; /* Sapphire */
  
  /* Navigation colors */
  --nav-background-color: #363a4f; /* Surface0 */
  --nav-border-bottom-color: #7dc4e4; /* Sapphire */
  --nav-current-border-bottom-color: #8aadf4; /* Blue */
  
  /* Section and box backgrounds */
  --down-background-color: #5b6078; /* Surface2 */
  --down-border-left-color: #ed8796; /* Red */
  --degraded-border-left-color: #f5a97f; /* Peach */
  --up-border-left-color: #a6da95; /* Green */
  
  /* Tag colors */
  --tag-color: #363a4f; /* Surface0 */
  --tag-up-background-color: #20bf6b; /* Green */
  --tag-down-background-color: #ed8796; /* Red */
  --tag-degraded-background-color: #f5a97f; /* Peach */
  
  /* Change background and button colors */
  --change-background-color: #eed49f; /* Yellow */
  --error-button-border-color: #1a46ad; /* (Could use Sapphire here or a darker color) */
  --error-button-background-color: #7dc4e4; /* Sapphire */
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad; /* Sapphire */
  --submit-button-background-color: #7dc4e4; /* Sapphire */
  --submit-button-color: #ffffff;
  
  /* Graph settings */
  --graph-opacity: 1;
  --graph-filter: none;
}

